body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
.orange-color{
    color:orange
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: purple;
    border-radius: 15px;
    color: rgb(197, 80, 12);
    font-weight: 700;
    padding: 10px 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 0;
}